{
  "presets": [
    ["minify", { "evaluate": true, "mangle": true, "keepFnName": true }],

    ["@babel/preset-env"]
  ],

  "plugins": [
    ["@babel/proposal-decorators", { "legacy": true }],

    ["@babel/proposal-class-properties", { "loose" : true }]
  ]
}